<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'favicons/style.css' %}" />
  </head>

  <body>
    <div class="fav-finder">
      <div class="header">
        <h1>Favicon Finder</h1>
      </div>

      <form action="/" method="POST" class="post-favfinder">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Find Favicon!" />
      </form>

      {% if favicon_url %}
      <div class="results">
        {% if error %}
        <div class="error">
          {{ error }}
        </div>
        {% endif %}
        <img src="{{ favicon_url }}" alt="favicon finder result">
      </div>
      {% endif %}
    </div>
  </body>
</html>
